@import "~react-alice-carousel/src/alice-carousel.scss";
@import 'normalize';
@import 'animate';
@import '~draft-js/dist/Draft.css';

/* Modules */
@import './variables/colors';


/* React-MD */
@import '~react-md/src/scss/react-md';
$md-light-theme: true; // optional for light theme
$md-primary-color: $md-blue-grey-900;
$md-secondary-color: $md-red-800;
@include react-md-everything;

/* Base Specific */
@import './base/dataTable';

/* Demo Specific */
@import './demo/weatherCard';

/* Helpers */
.bold {
  font-weight: bold;
}
.btn-right-margin {
  margin-right: 15px;
}

/* Generic Page Specific */
.root {
  background: $md-grey-200;
}

h3.page-title {
  margin: 0;
  font-weight: bold;
}
.base-paper {
  background: $white;
}
.profile-img {
  border-radius: 50%;
}
.activity-item {
  margin-bottom: 30px;
}
.footnote {
  font-size: 80%;
  color: #3d3d3d;
}

/* Table Specific */
.controlled-table {
  .table-container {
    padding: 0 20px;
  }
}
.table-controls {
  display: flex;
}
.table-progress {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.active-filters {
  .filter-chip {
    margin: 0 10px 10px 0;
    .btn-close {
      cursor: pointer;
    }
  }
  .chip-key {
    font-weight: bold;
  }
}
.filter-drawer {
  padding-top: 64px;
  .contents {
    padding: 20px 30px;
  }
  .filter-text {
    width: 230px;
    display: block;
  }
  .btn-filter {
    margin-top: 15px;
  }
}


/* App Specific */
.page-dialog {
  .profile-img-container {
    padding: 20px;
  }
  .img-uploader {
    margin-top: 10px;
  }
}

.details-page {
  .profile-img-container {
    padding: 20px;
  }
  .img-uploader {
    margin-top: 10px;
  }
  .md-expansion-panel-list .md-paper--1 {
    box-shadow: none;
  }
}

.container-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .img-404 {
    max-width: 400px;
  }
}

.dialog-404{
  position: relative;
  top: -250px;
  right: -200px;
}

.DraftEditor-editorContainer {
  background-color:#fff;
  border-left:.1px solid transparent;
  position:relative;
  z-index:1
}

.login-page {
  background: url('/img/login.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  .form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $white;
    height: 100vh;
  }
  .login-form {
    min-width: 300px;
  }
  .input-field__padded {
    margin-bottom: 15px;
  }
  .forgot-password {
    font-size: 90%;
    cursor: pointer;
    color: $md-primary-color;
    margin: 10px 0 10px 36px;
  }
  .divider {
    padding: 30px 0;
  }
  .google-sign-in {
    height: 40px;
    img {
      width: 20px;
    }
  }
}

.login-page>div{
  width: 100%;
}

.branding {
  .branding-image {
    max-width: 40px;
    margin: 12px 0 0 20px;
  }
}

.company-info {
  label, hr {
    display: none!important;
  }
  .selected-company {
    margin: 14px 0 0 10px;
    font-size: 20px;
  }
}

.menu-button__user {
  border-radius: 5px;
  .logged-user-avatar {
    min-width: 30px;
    border-radius: 5px;
  }
}

.notifications-dialog {
  right: 100px;
  background: $md-grey-50;
  .md-tile-text--primary, .md-tile-text--secondary {
    font-size: 15px;
  }
}

.no-notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $md-grey-700;
  .no-notification-icon {
    font-size: 40px;
  }
}

.notification-card {
  color: $md-grey-700;
  height: 100%;
}
.notification--unread {
  background: $md-red-50;
}




.catalog {
  padding: 5%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.model-container {
  position: relative;
}

.model {
  width: 15%;
  position: relative;
}

.image-handler {
  width: 100%;
}

.part-handler {
  width: 150%;
    left: -20px;
    position: relative;
}

.full {
  z-index: 30;
  position: absolute;
  top: 16%;
  width: 100%;
}

.body {
  z-index: 20;
  position: absolute;
  top: 16%;
  width: 100%;
}

.footer {
  z-index: 10;
  position: absolute;
    top: 40%;
    width: 100%;
}

.main-drop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.closet {
  width: 85%;
  position: relative;
  .carousel {
    width: 100%;
    position: absolute;
    .alice-carousel {
        width: 70% !important;
        .alice-carousel__wrapper {
          padding: 4% !important;
        }
    }

    img {
      width: 70%
    }
  }
}