@import '../variables/colors';

/// The primary color to use throughout the app. This should be a color
/// with a `-500` suffix.
/// @type Color
/// @group themes
$md-primary-color: $md-indigo-500 !default;

/// The opacity to apply to the primary color with the `md-background--primary` class name.
/// @type Number
/// @group themes
$md-primary-hover-opacity: .9 !default;

/// The text color to use for any text that inside the `.md-background--primary` class name.
/// This should ideally pass the color contrast test when.
/// @type Color
/// @group themes
$md-primary-background-text-color: $md-white-base !default;

/// The secondary color to use throughout the app. This should be a color
/// with a `-a-{NUMBER}` suffix.
/// @type Color
/// @group themes
$md-secondary-color: $md-pink-a-200 !default;

/// The opacity to apply to the secondary color with the `md-background--secondary` class name.
/// @type Number
/// @group themes
$md-secondary-hover-opacity: .9 !default;

/// The text color to use for any text that inside the `.md-background--secondary` class name.
/// This should ideally pass the color contrast test when.
/// @type Color
/// @group themes
$md-secondary-background-text-color: $md-white-base !default;

/// The error color to apply to icons, text fields, select fields, etc.
/// @type Color
/// @group themes
$md-error-color: $md-red-500 !default;

/// Boolean if the application is to be themed with the light theme.
/// @type Boolean
/// @group themes
$md-light-theme: true !default;

/// The default transition time to use on most animations/transitions.
/// @type Number
/// @group transitions
$md-transition-time: .15s !default;

/// The default min width for a mobile device.
/// @type Number
/// @group media-queries
$md-mobile-min-width: 320px !default;

/// The default min width for a tablet device.
/// @type Number
/// @group media-queries
$md-tablet-min-width: 768px !default;

/// The default min width for a desktop screen.
/// @type Number
/// @group media-queries
$md-desktop-min-width: 1025px !default;

/// The media query to detect devices in portrait mode. Normally you could just do something
/// like `(orientation: portrait)`, but this doesn't work when the soft keyboard appears. The
/// only part of the specification for portrait is that the "height" is greater than the "width"
/// of the device. Android devices reduce the screen height when the soft keyboard appears and
/// it is now considered landscape with this logic.
///
/// @type String
/// @group media-queries
$md-portrait-media: '(max-aspect-ratio: 13/9)' !default;

/// The media query to detect devices in landscape mode.
///
/// @see md-portrait-media
/// @type String
/// @group media-queries
$md-landscape-media: '(min-aspect-ratio: 13/9)' !default;

/// The default mobile media query.
/// @type String
/// @group media-queries
$md-mobile-media: 'screen and (min-width: #{$md-mobile-min-width})' !default;

/// The default media query for a portrait mobile device.
/// @type String
/// @group media-queries
$md-mobile-portrait-media: 'screen and (min-width: #{$md-mobile-min-width}) and #{$md-portrait-media}' !default;

/// The default media query for a landscape mobile device.
/// @type String
/// @group media-queries
$md-mobile-landscape-media: 'screen and (min-width: #{$md-mobile-min-width}) and #{$md-landscape-media}' !default;

/// The default media query for a tablet device.
/// @type String
/// @group media-queries
$md-tablet-media: 'screen and (min-width: #{$md-tablet-min-width})' !default;

/// The default media query for a portrait tablet device.
/// @type String
/// @group media-queries
$md-tablet-portrait-media: 'screen and (min-width: #{$md-tablet-min-width}) and #{$md-portrait-media}' !default;

/// The default media query for a landscape tablet device.
/// @type String
/// @group media-queries
$md-tablet-landscape-media: 'screen and (min-width: #{$md-tablet-min-width}) and #{$md-landscape-media}' !default;

/// The default media query for a desktop device.
/// @type String
/// @group media-queries
$md-desktop-media: 'screen and (min-width: #{$md-desktop-min-width})' !default;

/// Boolean if the media queries should be included by default for all component mixins.
/// Set this to false if you want to manually include them. It is really only beneficial
/// if you want to join all media queries into one, but you can always use a postcss plugin
/// to combine them if you are worried about bundle size.
/// @type Boolean
/// @group media-queries
$md-media-included: true !default;


/// The default accessible height for a lot of material design components.
/// @type Number
/// @group defaults
$md-height: 48px !default;

/// The default padding used for most material design components.
/// @type Number
/// @group defaults
$md-default-padding: 16px !default;