@import './globals';

$weather-time-ticks-size: 32px;
$weather-time-tick-size: 6px;
$weather-time-tick-large-size: 10px;

$weather-ticks: 11;
$weather-times: (
  2: '8 AM',
  4: '11 AM',
  6: '2 PM',
  8: '5 PM',
  10: '8 PM',
);

.wi:not(.cards__weather__icon--big) {
  height: $md-font-icon-size;
  width: $md-font-icon-size;
}

.cards__weather {
  @extend %md-block-centered;

  max-width: 320px;

  .md-display-2,
  .md-display-4 {
    margin-bottom: 0;
  }

  &__temperature {
    align-items: center;
    display: flex;
  }

  &__celcius.md-display-2 {
    align-self: flex-start;
    margin-top: 12px;
    vertical-align: top;
  }

  &__icon {
    height: $md-font-icon-size;
    width: $md-font-icon-size;

    @media #{$md-desktop-media} {
      height: $md-font-icon-dense-size;
      width: $md-font-icon-dense-size;
    }

    &--big.md-icon {
      font-size: $md-display-3-font-size;
      height: $md-display-3-font-size;
      margin-left: auto;
      width: 80px;
    }

    &--yellow.md-icon {
      color: $md-yellow-800;
    }
  }

  &__ticks {
    height: $weather-time-ticks-size;
    margin-top: -($weather-time-tick-large-size + 4);
    position: relative;
    width: 100%;
  }

  &__time-tick,
  &__time-value {
    position: absolute;
  }

  &__time-tick {
    background: rgba($md-black-base, .22);
    content: '';
    display: block;
    height: $weather-time-tick-size;
    width: 1px;

    &:nth-child(n + 2) {
      height: $weather-time-tick-large-size;
    }
  }

  // Position all the ticks and create the times
  @for $i from 1 through $weather-ticks {
    &__time-tick:nth-child(#{$i}) {
      left: percentage(($i - 1) / ($weather-ticks - 1));

      $time: map-get($weather-times, $i);
      @if $time {
        &::after {
          content: '#{$time}';
          font-size: 12px;
          position: absolute;
          top: $weather-time-tick-large-size + 2;
          transform: translateX(-50%);
          white-space: nowrap;
        }
      }
    }
  }
}
