/* https://react-md.mlaursen.com/customization/themes
https://react-md.mlaursen.com/customization/colors */

$turquoise: #1abc9c;
$green-sea: #16a085;
$sun-flower: #f1c40f;
$orange: #f39c12;
$emerald: #2ecc71;
$nephritis: #27ae60;
$carrot: #e67e22;
$pumpkin: #d35400;
$peter-river: #3498db;
$belize-hole: #2980b9;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

$codev-red: #EE2738;
$white: #ffffff;

$md-data-table-contextual-fallback-color: rgba($codev-red, .32);
$md-linear-progress-fallback-color: rgba($codev-red, .54);
$md-switch-fallback-color: rgba($codev-red, .87);